_xmsgs
iseconfig
*.html
MBlaze.ncf
MBlaze.ngc
MBlaze.synth.tcl
MBlaze_axi4_0_wrapper.ncf
MBlaze_axi4_0_wrapper.ngc
MBlaze_axi4lite_0_wrapper.ncf
MBlaze_axi4lite_0_wrapper.ngc
MBlaze_axi_bram_ctrl_0_bram_block_wrapper.ngc
MBlaze_axi_bram_ctrl_0_wrapper.ngc
MBlaze_axi_gpio_sb_addr_wrapper.ngc
MBlaze_axi_gpio_sb_ctrl_wrapper.ngc
MBlaze_axi_gpio_sb_data_wrapper.ngc
MBlaze_axi_gpio_sb_leds_wrapper.ngc
MBlaze_axi_gpio_sb_status_wrapper.ngc
MBlaze_axi_gpio_sb_switches_wrapper.ngc
MBlaze_clock_generator_0_wrapper.ncf
MBlaze_clock_generator_0_wrapper.ngc
MBlaze_debug_module_wrapper.ngc
MBlaze_microblaze_0_bram_block_wrapper.ngc
MBlaze_microblaze_0_d_bram_ctrl_wrapper.ngc
MBlaze_microblaze_0_dlmb_wrapper.ncf
MBlaze_microblaze_0_dlmb_wrapper.ngc
MBlaze_microblaze_0_i_bram_ctrl_wrapper.ngc
MBlaze_microblaze_0_ilmb_wrapper.ncf
MBlaze_microblaze_0_ilmb_wrapper.ngc
MBlaze_microblaze_0_intc_wrapper.ncf
MBlaze_microblaze_0_intc_wrapper.ngc
MBlaze_microblaze_0_wrapper.ncf
MBlaze_microblaze_0_wrapper.ngc
MBlaze_proc_sys_reset_0_wrapper.ngc
MBlaze_rs232_wrapper.ngc
hvps_nexys4.bld
hvps_nexys4.cmd_log
hvps_nexys4.lso
hvps_nexys4.ncd
hvps_nexys4.ngc
hvps_nexys4.ngd
hvps_nexys4.ngr
hvps_nexys4.pad
hvps_nexys4.par
hvps_nexys4.pcf
hvps_nexys4.prj
hvps_nexys4.ptwx
hvps_nexys4.stx
hvps_nexys4.syr
hvps_nexys4.twr
hvps_nexys4.twx
hvps_nexys4.unroutes
hvps_nexys4.ut
hvps_nexys4.xpi
hvps_nexys4.xst
hvps_nexys4_guide.ncd
hvps_nexys4_map.map
hvps_nexys4_map.mrp
hvps_nexys4_map.ncd
hvps_nexys4_map.ngm
hvps_nexys4_map.xrpt
hvps_nexys4_ngdbuild.xrpt
hvps_nexys4_pad.csv
hvps_nexys4_pad.txt
hvps_nexys4_par.xrpt
hvps_nexys4_summary.xml
hvps_nexys4_usage.xml
hvps_nexys4_xst.xrpt
_ngo
edkBmmFile.bmm
edkBmmFile_bd.bmm
hvps_nexys4.bgn
hvps_nexys4.drc
webtalk_pn.xml
xlnx_auto_0_xdb
xst
MBlaze.init_bram.tcl
hvps_nexys4_bitgen.xwbt
hvps_nexys4.bit
webtalk.log
test.log
hvps_nexys4.cfi
hvps_nexys4.ipf
hvps_nexys4.mcs
hvps_nexys4.prm
hvps_nexys4_xdb
